.todo{
  background-color: #237a8dbf;
  width: 60%;
  margin: 7rem auto;
  color: #fff;
  padding: 2.5rem 0;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.todo .signe{
  font-size: 40px;
    width: fit-content;
    position: absolute;
    right: -21px;
    top: -20px;
}